# Based on the "trust" template v0.1.1
# https://github.com/japaric/trust/tree/v0.1.1

dist: trusty
language: rust
services: docker
sudo: required

env:
  global:
    - CRATE_NAME=signify

rust:

matrix:
  fast_finish: true

  include:
    # Linux
    - env: TARGET=aarch64-unknown-linux-gnu
      if: branch = staging OR branch = trying OR branch =~ /^v\d+/
    - env: TARGET=arm-unknown-linux-gnueabi
      if: branch = staging OR branch = trying OR branch =~ /^v\d+/
    - env: TARGET=armv7-unknown-linux-gnueabihf
      if: branch = staging OR branch = trying OR branch =~ /^v\d+/
    - env: TARGET=x86_64-unknown-linux-gnu
      if: type = pull_request OR branch = staging OR branch = trying OR branch =~ /^v\d+/
    - env: TARGET=x86_64-unknown-linux-musl
      if: branch = staging OR branch = trying OR branch =~ /^v\d+/

    - env: TARGET=x86_64-apple-darwin
      os: osx
      if: type = pull_request OR branch = staging OR branch = trying OR branch =~ /^v\d+/

    # other channels
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly
      if: type = pull_request OR branch = staging OR branch = trying OR branch =~ /^v\d+/
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: beta
      if: branch = staging OR branch = trying OR branch =~ /^v\d+/
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly
      if: type = pull_request OR branch = staging OR branch = trying OR branch =~ /^v\d+/

  allow_failures:
      - rust: nightly

before_install:
  - set -e
  - rustup self update

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  api_key:
    secure: oakncmwVno3XQ5HU82FrHh6QXzbVt7GU9+pYryx5UX4L6qNrqcPFQjubOPZBhtDaljtgobwOgeQ03bsLwS68Z95imEPW5anWAMF0E4TClplGZBmGvrsS+1vLqoWnNS6+IecE1IwKRaZNqSya1dxbakl/tNqX0CMRwmZYTH+QOEFYR6Bd51yePc3Jdotg8LUFAbMaHBbRAsTIe6HGSf4VmImS1ouYDpgWiRYjmdCTBNBDQoaNQH2llx5MUcPpRbWlYT0xTKboJverj1xbI+xnSbw2ET3MHfk1a1J9F96CoyeQx9LHwgQC+NbIEf873NGaMSFKcKpQqeLh5OsgdknVtISN8OPrnGWmmm7fU/y9ke/3P8C41iV636w6E6W5ZWyWCowAbv2TEtnGf9ADBJDNwY4abpozSwULl52jSDg4jE6Mu59ZZ5NRzNQ1Wpnj1aExAEKw+N959UGt2b0UygKgP5KyRN1rZYAOPDaehy3TeaUC5gdjEro2teI79eFNQpJgF25/bxikzbxnDPvYKcHQo6XYyGU1hOyNnNe2JkOChVctEgQmO13iGuRDzDxfDf8iC5V8i3Cx11Kzt8qaW5WZK2rlluZZL2Gyg1wl7y5pjCmv6s2zCh1YAWwFw9AElPH3YRhNAd631cdJwQ2qk57DAnGMIGARMP2DHpoMORSho4Y=
  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  - chmod -R a+r $HOME/.cargo

notifications:
  email:
    on_success: never
